* {
    padding: 0;
    margin: 0;
}
header nav ul li a {
    text-decoration: none;
}
main aside {
    padding-top: 10.5px;
}
.d-inline-block {
    padding-right: 10px;
    padding-top: 14px;
}
.foot {
    background-color: blueviolet;
    margin-top: 35%;
    padding-top: 3.5%;
    padding-bottom: 2%;
    font-size: large;
}

