* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header nav ul li a {
    text-decoration: none;
}
main aside {
    padding-top: 10.5px;
}
.d-inline-block {
    padding-right: 10px;
    padding-top: 14px;
}
.foot {
    background-color: blueviolet;
    margin-top: 38%;
    padding-top: 3.5%;
    padding-bottom: 2%;
    font-size: large;
}

.btn:hover {
    color: rgb(161, 98, 98);
    background-color: lightblue;
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}

@media screen and (max-width: 768px) {
    header nav ul li a {
        font-size: 2.00vw;
        padding-right: 15%;
    }
    h2 {
        font-size: small;
    }
    main aside {
        padding-top: 18px;
    }
    .foot {
        margin-top: 63%;
        
    }
}

@media screen and (max-width: 575px) {
   header nav ul li a {
       font-size: 3.50vw;
   }
    main {
       overflow: auto;
   }

   main aside {
       width: 100%;
   }

   main section {
       width: 100%;
   }
   .phone {
       margin-top: 20%;
   }
   .head {
       margin-top: 10%
   }
}